/* Always here */
* {
  box-sizing: border-box;
}

/* Center Alignment */
.align-center {
  text-align: center;
}

/* Horizontal Ruler Style */
hr {
  height: 10px;
  background-color: #212529;
  border: 1px solid #212529;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Background color */
body {
  background: #495057;
}

/* Head Banner */
header {
  background-color: #212529;
  text-align: center;
}

/* My name */
h1 {
  font-family: "Merienda", serif;
  font-size: 60px; 
  padding-top: 100px;
  color: lightslategrey;
}

/* Software Developer */
header h2 {
  font-family: "Cambria", sans-serif;
  font-size: 20px;
  padding-bottom: 75px;
  color: beige;
  font-weight: 1;
}

/* Sub Headers */
h3 {
  font-size: 25px;
  font-family: "Merienda", serif;
  text-decoration: underline;
}

/* Body Text */
main p, main ul, main ol {
  text-align: left;
  margin-left: 280px;
  margin-right: 200px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Places "Click" before each ordered list item */
ol li::before {
  content: "Click "
}

/* Link States */
a:link {color: #212529;}
a:visited {color: black;}
a:hover {color: #43474b;}
a:active {color:#000000;}


/* Footer */
footer {
  background-color: #212529;
  text-align: center;
  color: beige;
}

